
<ion-content [fullscreen]="true">
  <div class="center">
    <ion-card color="dark">
      <img src="assets/logotipo.png" alt="Logo">
      <ion-card-title class="ion-text-center">Lista de Filmes</ion-card-title>
      <ion-item inline="none" color="dark">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input placeholder="admin@admin.com" type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item inline="none" color="dark">
        <ion-label position="floating">Senha</ion-label>
        <ion-input placeholder="admin" type="password" [(ngModel)]="senha"></ion-input>
      </ion-item>
      <ion-button (click)="login()" expand="full" fill="outline" color="light">
        ENTRAR
      </ion-button>
      <!-- <ion-button expand="full" fill="clear" color="light">
        REGISTRAR
      </ion-button> -->
    </ion-card>
  </div>
</ion-content>
