<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title> {{titulo}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-searchbar (ionChange)="buscarVideos($event)" placeholder="Pesquisar">
  </ion-searchbar>

  <ion-list *ngIf="listaFilmes">

    <ion-item lines="none" *ngIf="listaFilmes.results.length === 0">
      <ion-label class="ion-text-center">
        Nenhum filme encontrado...
      </ion-label>
    </ion-item>

    <ion-item-sliding *ngFor="let video of listaFilmes.results">
      <ion-item lines="full" (click)="exibirVideo(video)">
        <ion-thumbnail slot="start">
          <img *ngIf="video.poster_path" src="https://www.themoviedb.org/t/p/w500/{{video.poster_path}}" />
          <ion-icon *ngIf="!video.poster_path" name="videocam-off"></ion-icon>
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>{{video.title}}</h1>
            <p>{{video.release_date | date: 'shortDate'}}</p>
          </div>
        </ion-label>
        <ion-chip [color]="video.vote_average < 5 ? 'danger' : ((video.vote_average < 7) ? 'warning' : 'success')"
          outline>
          <ion-label>{{video.vote_average}}</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="exibirAlertaFavorito()" color="danger">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>