<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Nome do App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

<ion-searchbar placeholder="Pesquisar"></ion-searchbar>

<ion-list>
  <ion-item lines="full">
    <ion-thumbnail slot="start">
      <img src="https://i.ytimg.com/vi/iwMTV-03dsw/hqdefault.jpg?sqp=-oaymwEjCOADEI4CSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLDszwZH80HtWWl05qz8usKqRxll0A">
    </ion-thumbnail>
    <ion-label class="ion-text-wrap">
      <div>
        <h1>a GAMBIARRA mais INÚTIL que já foi feita!</h1>
        <p>República Coisa de Nerd</p>
      </div>
    </ion-label>
    <ion-chip color="success" outline>
      <ion-label>10 min</ion-label>
    </ion-chip>
  </ion-item>
</ion-list>

</ion-content>
