<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title> {{titulo}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-searchbar placeholder="Pesquisar"></ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let video of listaVideos">
      <ion-item lines="full" (click)="exibirVideo(video)">
        <ion-thumbnail slot="start">
          <img
            [src]="video.imagem">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <div>
            <h1>{{video.nome}}</h1>
            <p>{{video.canal}}</p>
          </div>
        </ion-label>
        <ion-chip color="success" outline>
          <ion-label>{{video.tempo}}</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="exibirAlertaFavorito()" color="danger">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>