h1{
    font-weight: bold;
    color: #dcdcdc;
    text-align: center;
}

p{
    font-weight: bold;
    color: #dcdcdc;
    text-align: center;
}

a{
    color: #dcdcdc;
    align-items: center;
}

img{
    height: 300px;
    width: 320px;

}